body {
    height: 100vh;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

.main-container {
    width: 700px;
    margin: 0 auto;
}

.about-body {
    height: auto;
}

.push-right {
    width: 75%;
}