body {
    background-color: black;
    height: 100vh;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
}

.about-body {
    background-color: black;
    height: auto;
}

.push-right {
    width: 75%;
}